/*@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";
*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.splashPage {
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('adferno-splashpage3.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vmin;
}

#frontButton {
	font-family: "Syne", sans-serif;
	font-size: 3vmin;
	color: black;
	text-decoration: none;
	padding: 1.5vmin;
	border: 1px solid black;
	border-radius: 15px;
	margin-top: 16vmin;
}

#frontButton:hover {
	color: #FFD700;
}

.logo {
	width: 100%;
	transition: transform 0.3s ease;
}

.logo:hover {
	transform: scale(1.1);
}

.menuWrapper {
	display: flex;
	justify-content: space-between;
	position: absolute;
}

.menuWrapper div {
	display: flex;
	width: 30%;
	position: fixed;
}

.menuItem {
	font-family: "Syne", sans-serif;
	font-size: 6vmin;
	text-decoration: none;
}

#page2Back {
	width: 60%;
	padding: 2vmin;
}

.mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background: #fff8e3;
	margin-top: 0;
	padding: 5vmin;
	box-shadow: 5px 5px 5px 5px black;
	padding-right: 15vmin;
	padding-left: 15vmin;
}

.nameWithLogo {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 0;
	margin-bottom: 0;
}

.nameWithLogo img {
	width: 10vmin;
	height: 100%;
	margin-left: 5vmin;
}

h2 {
	font-size: 3.5vmin;
	font-family: "Playfair Display SC", serif;
  	font-weight: 400;
  	font-style: normal;
}

h3 {
	font-size: 10vmin;
	font-family: "Playfair Display SC", serif;
  	font-weight: 400;
  	font-style: normal;
}

p {
	font-family: "Syne", sans-serif;
}

a {
	font-family: "Syne", sans-serif;
}

.mission {
	font-size: 3vmin;
	width: 70vmin;
	margin-top: 2vmin;
}

.featuresAndUses {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 4vmin;
}

.feature {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1vmin;
}

.revealButton {
	font-family: "Syne", sans-serif;
	font-size: 3vmin;
	color: white;
	text-decoration: none;
	padding: 1.5vmin;
	background: black;
}

.revealButton:hover {
	color: #FFD700;
}

.text {
	display: none;
	position: relative;
	font-family: "Syne", sans-serif;
	font-size: 3vmin;
	width: 30vmin;
	text-align: center;
	margin-top: 1vmin;
}

.closeButton {
	font-family: "Syne", sans-serif;
	font-size: 3vmin;
}

.imagePopup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 75%;
    transform: translate(-50%, -50%);
    z-index: 1000; 
}

.imagePopup img {
    max-width: 100%; 
    max-height: 100%;
}

#hiddenImageId {
    position: fixed; 
    display: none; 
}

#hiddenImage2,
#hiddenImage4,
#hiddenImage6 {
    width: 33%;
}

#hiddenImage3,
#hiddenImage12 {
	width: 60%;
}

.closeButton {
    position: absolute; 
    top: 1vmin; 
    right: 1vmin; 
    font-size: 2vmin;
    z-index: 1001; 
}

main {
	height: 100vh;
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
}

main > section {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	scroll-snap-align: start;
	scroll-snap-stop: always;
}

#section1 {
	background: #F2C6DE;
}

#section2 {
	background: #C6DEF1;
}

#section3 {
	background: #DBCDF0;
}

#section4 {
	background: #F7D9C4;
}

#section5 {
	background: #C9E4DE;
}

#section6 {
	background: #FAEDCB;
}

#section7 {
	background: #FADDE1;
}

#page3 {
	background: #fff8e3;
}

#definition {
	font-size: 4vmin;
	margin: 5vmin;
	margin-top: 15vmin;
	padding: 2vmin;
	width: 150vmin;
	border: 1px solid black;
}

.separator {
	font-size: 2.5vmin;
	margin: 2vmin;
	width: 100vmin;
}

.articleWrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 5vmin;
}

.articleSection {
	width: 50vmin;
	padding: 2vmin;
}

.articleSection > img {
	width: 100vmin;
}

.article {
	margin-top: 2vmin;
}

#gallery {
	margin-top: 10vmin;
	margin-bottom: 1vmin;
}

#firstWrapper {
	margin-top: 10vmin;
}

#galleryText {
	font-size: 5vmin;
	margin-top: 10vmin;
}

.galleryContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 2vmin;
	background: black;
	margin-top: 0;
	margin-bottom: 15vmin;
}

.glide {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
}

.glide__slide {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}

.carouselImage {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}